body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #fffaf2;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 20px;
}

.card {
  border-radius: 10px;
  background: white;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  position: relative;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
}

.card h4 {
  margin: 12px 0 4px;
  margin-left: 10px;
}

.card p {
  margin-left: 10px;
  font-size: 0.9rem;
  color: #cf5108;
}

.card p:nth-child(2){
  color: rgb(129, 128, 127);
}

.card button {
  display: flex;
  position: relative;
  width: 50%;
  padding: 8px;
  background-color: #ebe8e6;
  border: none;
  color: rgb(15, 1, 1);
  border-radius: 40px;
  border: #a19dcc 1px solid;
  margin: 0px 20px 0px 60px;
  cursor: pointer;
}

.card button:hover {
  background-color: #610d0d;
  color: #ddd;
}

.cart-panel {
  margin-top: 40px;
  padding: 20px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 400px;
  max-height: 900px;
}

.cart-panel h2 {
  margin-bottom: 10px;
  color: #8a1e30;
}
.item-count{
  font-weight: bold;
}
.cart-panel h2::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #8a1e30;
  margin-top: 5px;
}
.cart-items > div {
  padding: 20px;
  margin: 10px 0;
  border-bottom: 1px solid #a09696;
  margin-bottom: 10px;
}

.cart-items button {
  margin-left: 5px;
  padding: 4px 8px;
  cursor: pointer;
}

.total {
  font-weight: bold;
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
}

.primary {
  border-radius: 40px;
  background-color: #8a1e30;
  color: white;
  border: none;
}

.primary:hover {
  background-color: #ac3848;
}

.secondary {
  border-radius: 40px;
  background-color: white;
  color: #000000;
  border: 2px solid #721943;
}

.secondary:hover {
  background-color: #eef2ff;
}

.decrease {
  color: #f8d7da;
  padding: 200px;
  background-color: #721c24;
  border: #000000 1px solid;
  border-radius: 550px;
}
.decrease:hover {
  background-color: #f5c6cb;
}
.increase {
  color: #155724;
  background-color: #c3e6cb;
  border: #000000 1px solid;
  border-radius: 40px;

}
.increase:hover {
  background-color: #d4edda;
}.remove {
  color: #721c24;
  background-color: #f8d7da;
  border: #000000 1px solid;
  border-radius: 40px;
}
.remove:hover {
  background-color: #f5c6cb;
}

.c-item{
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}
.c-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0e0000;
}
.c-item p:nth-child(1){
  font-size: 1rem;
  font-weight: bold;
  color: #ff0505;
}
.c-item p:nth-child(2){
  font-size: 1rem;
  color: #b34215;
}
.card-stuff{
  display: flex;
  flex-direction: column;
}
.c-price{
  display: flex;
  flex-direction: row;
  gap: 10px;
}


/* media queries */
@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
}